html, body {
  height: 100%;
  margin: 0;
}

:root {
  --navbar-height: 76px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--navbar-height);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

main {
  flex: 1;
}

.footer-white {
  background: #fff;
}
